.footer {
    background-color: #59abb0;
    color: #ffffff;
    font-size: 14px;
    line-height: 22px;
    &__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  .menu__footer {
    &-list {
      display: flex;
      list-style-type: none;
      align-items: baseline;
    }
    &-item {
      display: flex;
      margin-right: 20px;
    }
  }
  