$white: #FFFFFF;
$black: #000000;
$main-color: #59abb0;
$button-hover: #1B6C71;

$input-border: #C2D2D2;
$input-border-hover: $button-hover;

$apply-color: #4F5D5D;
$apply-input: #93A3A3;

$modal-background: rgb(0, 0, 0, 0.5)